<h1>Listing archived children patients</h1>

<div id="children"></div>
<script type="text/javascript" charset="utf-8">
  $('#children').jTable({
    width: '100%',
    indexUrl: '/children/archived.json',
    viewUrl: '/children/:id:',
    editUrl: '/children/:id:/edit',
    destroyLink: false,
    singleColumnSearch: true,
    columns: [
      {heading: 'OVC id', attribute: 'ovc_id'},
      {heading: 'Name', attribute: 'name'},
      {heading: 'Address', attribute: 'address'},
      {heading: 'Contact Number', attribute: 'contact_no'},
      {heading: 'Age', attribute: 'age'},
      {heading: 'Sex', attribute: 'sex'},
      {heading: 'HIV status', attribute: 'hiv_status'},
      {heading: 'weight', attribute: 'weight'},
      {heading: 'Parent Treatment Code', attribute: 'treatment_code_of_parent'},
      {heading: 'Treatment', attribute: 'treatment_type'},
      {heading: 'Support Group', attribute: 'support_group'},
      {heading: 'Location', attribute: 'location'},
      {heading: 'School', attribute: 'school'}
    ],
    otherActions: [
      {title: 'Restore', href: '/children/:id:/unarchive'}
    ]
  })
</script>

<br />
