<h1>Listing patients</h1>

<div id="patients"></div>
<script type="text/javascript" charset="utf-8">
  $('#patients').jTable({
    width: '100%',
    indexUrl: '/patients.json',
    viewUrl: '/patients/:id:',
    editUrl: '/patients/:id:/edit',
    destroyLink: false,
    singleColumnSearch: true,
    columns: [
      {heading: 'Name', attribute: 'name'},
      {heading: 'Address', attribute: 'address'},
      {heading: 'Age', attribute: 'age'},
      {heading: 'Sex', attribute: 'sex'},
      {heading: 'Treatment', attribute: 'treatment'},
      {heading: 'Source', attribute: 'source'},
      {heading: 'Has Picture', attribute: 'picture', dataType: 'boolean', trueValue: 'Yes', falseValue: 'No'}
    ],
    otherActions: [
      {title: 'Archive', href: '/patients/:id:/archive'}
    ]
  })
</script>

<br />
<%= link_to "Archived Patients", archived_patients_path %>

<%= link_to 'New Patient', new_patient_path %>
